/*A Design by Darkframexue
Author:  Darkframexue
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
html,body{
	font-family: 'Lato', sans-serif;
}
.clear{
	clear:both;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
body input[type="text"],body input[type="submit"],body textarea,body input[type="button"]{
	-webkit-appearance:none;
}
/*------ HEADERBG STARTS---------*/
.headerbg{
	background-color: #333;
	max-height: 160px;
	width: 100%;
	background-size: cover;
}
/*------ HEADER STARTS---------*/
.header{
	background: rgba(0, 0, 0, 0.24);
	max-height: 180px;
	padding: 20px 0 15px 0;
}
/*------ CONTAINER STARTS---------*/
.container{
	width:70%;
}
/*------ Title STARTS---------*/
.logo{
	text-align:center;
}
.logo p{
	color:#fff;
 	font-size: 1.2em;
	font-weight: 400;
}
/*------ Title ENDS---------*/


/*------ TOPNAV STARTS---------*/
.nav{
	text-align:left;
	padding: 10px 20px 10px 20px;
}
.nav ul li{
	display: inline-block;
	margin: 0em 1em 0 1em;
}
.nav ul li a{
	color:#fff;
	font-size: 1.2em;
	font-weight: 500;
}
.nav ul li a:hover{
	color:#444;
	text-decoration:none;
}
/*------ TOPNAV ENDS---------*/
/*------ HEADER ENDS---------*/





/*--------self introduce --------*/

.stage{
	background:url(../images/stage.jpg);
	background-size: cover;
	background-color: #eee;
	min-height: 400px;
	padding: 40px 100px 40px 100px;
}
.stage h1{
	text-align: center;
	color: #fff;
	margin-bottom: 15px;
	font-size: 1.3em; 
	font-weight: 300;
}
/*------ BANNER STARTS---------*/
.banner{
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 20px 20px 20px 20px;
}
.bannerlogo{
	height: 60px;
	width: 60px;
}
.bannerhead{
	text-align:left;
}
.bannerhead h2{
	color: #fff;/*#C5B7B8;*/
	margin:0;
	padding:0;
	font-size:1.2em;
	font-weight: 300;
}
.bannerhead h2 span{
	color:#aaa;
	font-size:1.3em;
}
.bannerhead p{
    color:#fff;
	font-size: 1em;
	font-weight: 300;
}
a.downarrow  span{
 	height:48px;
    width:48px;
    background:url(../images/down.png);
    display:inline-block;
}
a.downarrow{
  	display: block;
	position: absolute;
	top: 249px;
	right: 10%;
}




/*------ List style STARTS---------*/
.List{
	color:#ffffff;
	text-align:center;
	background:#fff;
	margin: 10px 10px 20px 10px;
	padding: 10px 20px 20px 20px;
}
.header-section h2{
	color: #91898D;
	font-size: 2.0em;	
	font-weight: 300;	/* width of a char*/	
	padding: 1em 0 0.8em;
}
.header-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.header-section span:nth-child(1){
	margin-right:10px;
}
.header-section span:nth-child(2){
	margin-left:10px;
}



/*------Portfolio-Section STARTS---------*/
.Portfolio{
	min-height:200px;
	background:#eff;
}
.Portfolio-section span:nth-child(1){
	margin-right:10px;
}
.Portfolio-section span:nth-child(2){
	margin-left:10px;
}
.portfolio-grids{
}
.portfolio-grid{
	display:inline-block;
	padding:0.8em 0;
}
.portfolio-grid a{
	font-size: 1.2em;
	font-weight: 300;
	color:#333;
	text-align:left;
}
.portfolio-grid a:hover{
	color:#aaa;
	text-decoration:none;
}
.portfolio-grid h1{
	color:
}
.portfolio-grid p{
	margin: 0.5em 0;
	color: #444;
	font-weight: 300;
}
.portfolio-grid img{
	margin-top: 1em;
	width:100%;
}
a.uparrow  span{
	height:23px;
	width:28px;
	background:url(../images/uparrow.png);
	display:inline-block;
}
a.uparrow{
	display: block;
	position: absolute;
	top: 15px;
	right: 5%
}


/*------FOOTER STARTS---------*/
.footer-bg{
	background: url(../images/footer.jpg);
	position: relative;
	min-height: 180px;
	background-size: cover;
}
.footer{
	background: rgba(0,0,0, 0.3);
	padding-bottom: 20px; 
	min-height: 180px;
}
.contact-section h2{
	color: #D2D1D1;
	font-weight: 300;
	font-size: 1.5em;
	padding-top: 0.8em;
}
.contact-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.contact-section span:nth-child(1){
	margin-right:10px;
}
.contact-section span:nth-child(2){
	margin-left:10px;
}
.footer-left{
	margin-top:1em;
}
.social-icons{
}
.social-icons a img{
	height: 40px;
	width: 40px;
	margin-right:1em;
}
.social-icons a img:hover{
	opacity:0.8;
}
.up{
	position: absolute;
	bottom: 1%;
	right: 10%;
	text-align: center;
}
.up span{
	height:48px;
	width:48px;
	background:url(../images/up.png);
	display:inline-block;
	margin-bottom: 20px;
}


.header div.container{
	padding:0;
}
/*---- return_to_git -----*/
p.return_to_git{
	text-align:center;
}
a.return_to_git{
	margin-top:0em;
	color:#D2D1D1;
	padding:0.8em 0;
	text-decoration:none;
	font-size:1.5em;
}
a.return_to_git:hover{
	color:black;
	text-decoration:none;
}



 /*----- top-top -----*/
/*-----grid-system---*/
.container{
	width:90%;
	margin:0 auto;
}
.text-center{
	text-align:center;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8  {
	width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: none;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left:0px;
	padding-right:0px;
}
.col-xs-4 {
	width: 33.33333333%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	float: left;
}
